<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - Elimo Vacanze</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="theme-color" content="{{meta.mobileHeaderColor}}" />
      	<meta name="msapplication-navbutton-color" content="{{meta.mobileHeaderColor}}">
      	<meta name="apple-mobile-web-app-capable" content="yes">
      	<meta name="apple-mobile-web-app-status-bar-style" content="{{meta.mobileHeaderColor}}">
        <meta name="description" content="{{ meta.description }}">
        <meta name="keywords" content="{{meta.keywords}}">
        <meta property="og:title" content="{{ meta.ogTitle }}" />
        <meta property="og:description" content="{{ meta.description }}" />
        <meta property="og:image" content="/images/{{meta.ogImage}}.jpg" />
        {{#> head-block}}
          {{> head }}
        {{/head-block}}
    </head>
    <body class="lang-{{ lang }}">

      {{#> header-block}}
        {{> header }}
      {{/header-block}}

      {{> nav navigationItems=navigation }}

      {{#> content}}
        {{!-- Hero content goes here. --}}
      {{/content}}

      <footer>
        {{#> footer-block}}
          {{> footer }}
        {{/footer-block}}
      </footer>

      {{#> scripts-block}}
        {{> scripts }}
      {{/scripts-block}}

    </body>
</html>
