<div class="socials">
  <p>{{footer.follow}}</p>
  <a href="{{footer.fbLink}}" class="follow fb" target="_blank">{{footer.followOnFacebook}}</a>
  <a href="{{footer.isLink}}" class="follow is" target="_blank">{{footer.followOnInstagram}}</a>
  <a href="{{footer.twLink}}" class="follow tw" target="_blank">{{footer.followOnTwitter}}</a>
</div>
<div class="copy">
  <p>{{{footer.copyrights}}}</p>
</div>
